$color-1: #fff;
$color-2: #777;
$color-3: #58e1c1;
$color-4: #51ddfc;
$color-5: #927bc1;
$color-6: #fd7856;
$color-7: #deb2ee;
$color-8: #7ee6fd;
$color-9: #88d9a0;
$color-10: #4da2bb;
$color-11: #ec9fa3;
$color-12: #fd9f85;
$color-13: #e4757a;
$color-14: #63cc82;
$color-15: #51ddfc;
$color-16: #80e8d1;
$color-17: #ccc;

$breakpoint: 768px;
