
.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-1;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-4;
  }
  
  .error {
    background-color: $color-13;
  }
  
  .info {
    background-color: $color-5;
  }
  
  .success {
    background-color: $color-14;
  }
  
  .warning {
    background-color: $color-6;
  }
  