* {
    font-family: 'Lato', sans-serif;
    color: $color-2;
    box-sizing: border-box;
  }

  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }
  

  .headline-primary {
    color: $color-3;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: 300;
    color: $color-2;
  }
  
  .link {
    color: $color-4;
    font-weight: 700;
  }

  .blockquote {
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-3;
    border-radius: 5px;
  }
  